.weatherBase {
  --width: 300px;
  --background: #eee;
  width: var(--width);
  height: calc(var(--width) / 2.5);
  background: var(--background);
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  position: relative;
  font-size: 12px;
  padding: 15px 12px;
  display: grid;
  grid-template-columns: 50% 50%;
  .leftContent {
    .area {
      display: flex;
      div {
        font-size: 14px;
        margin-right: 6px;
      }
    }
    .tem {
      display: flex;
      font-size: 60px;
      margin-top: 20px;
      margin-left: 10px;
      div:last-child {
        font-size: 30px;
        padding-top: 6px;
      }
    }
  }
  .rightContent {
    display: inline-block;
    div {
      width: 70%;
      margin: 10px 0px;
    }
    div:nth-child(2) {
      font-size: 15px;
      background: #f09246;
      text-align: center;
      border-radius: 10px;
      margin-top: 10px;
    }
  }
}
