.I-form {
  &__label--left {
    .I-form-item__label {
      justify-content: flex-start;
    }
  }

  &__label--right {
    .I-form-item__label {
      justify-content: flex-end;
    }
  }

  &__label--top {
    .I-form-item {
      display: block;

      &--label {
        display: block;
        height: auto;
        margin-bottom: 8px;
        line-height: 22px;
        text-align: left;
      }
    }
  }

  &__inline {
    .I-form-item {
      display: inline-flex;
      margin-right: 32px;
      vertical-align: top;
    }

    .I-form__label--top {
      display: flex;
      flex-wrap: wrap;

      .I-form-item {
        display: block;
      }
    }
  }
}

.I-form-item {
  display: flex;
  margin-bottom: 24px;
  font-size: var(---I-font-size-middle);

  &--small {
    font-size: var(---I-font-size-small);

    .I-form-item__label {
      height: 26px;
      line-height: 26px;
    }

    .I-form-item__content {
      line-height: 26px;
    }
  }

  &--large {
    font-size: var(---I-font-size-large);

    .I-form-item__label {
      height: 42px;
      line-height: 42px;
    }

    .I-form-item__content {
      line-height: 42px;
    }
  }

  &__label {
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 34px;
    padding-right: 12px;
    color: var(---I-font-size-middle);
    line-height: 34px;
  }

  &__content {
    position: relative;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    line-height: 34px;
  }

  &--error-tip {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 2px 0 0 2px;
    color: var(--I-text-color-error);
    line-height: 1.25;
  }

  &--required {
    .I-form-item__label::before {
      margin-right: 4px;
      color: var(--I-text-color-error);
      content: '*';
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s linear;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
